header{
    width: 100%;
    height: 60px;
    background-color: #2A5369;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.tabWrapper{
    display: flex;
    padding: 15px 15px 0;

    .tab{
        margin-right: 30px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom: 4px solid transparent;

        &.active{
            background-color: #E9E9E9;
            border-color:#2A5369;

            p{
                margin: 0;
            }
        }

        p{
            color: #000;
            font-size: 16px;
        }
    }
}